<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>650685352674-4j2lac38afif4a08mn3k1tf0vfoetspe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650685352674-4j2lac38afif4a08mn3k1tf0vfoetspe</string>
	<key>API_KEY</key>
	<string>AIzaSyCB777KJtVZ36Gznk1_QZhblNSfYFbyYGY</string>
	<key>GCM_SENDER_ID</key>
	<string>650685352674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.siliang.ios</string>
	<key>PROJECT_ID</key>
	<string>test-f4b81</string>
	<key>STORAGE_BUCKET</key>
	<string>test-f4b81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:650685352674:ios:97210abdef12b219</string>
	<key>DATABASE_URL</key>
	<string>https://test-f4b81.firebaseio.com</string>
</dict>
</plist>